header {
  height: 50px;
  background-image: linear-gradient(90deg, #db9864c7 0%, rgba(128, 80, 48, 0.701) 90%);
  color: white;
  line-height: 50px;
}

footer {
  height: 30px;
  line-height: 30px;
  font-size: 8pt;
  color: white;
  background-image: linear-gradient(90deg, #db9864c7 0%, rgba(128, 80, 48, 0.701) 100%);
  text-align: center;
}

section {
  height: calc(100% - 80px);
  overflow: auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  font-size: 20pt;
  font-weight: bold;
  margin-left: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;
  font-size: 15pt;
}

nav .menu{
  margin-right: 15px;
  font-size: 20pt;
  display: none;
}

/*Responsiveness*/
@media(max-width:768px){
  nav .menu{
    display: block;
  }
  nav ul{
    display:none;
    position:absolute;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0%;
    background: rgb(226, 229, 232);
    width: 100%;
   
  }
  nav ul.active{
    display: block;
  }
  nav ul li{
    background: linear-gradient(90deg, #db9864c7 0%, rgba(128, 80, 48, 0.701) 100%);
    padding: 0;
    margin: 2px 0 0 0;
  }
}
